<div class="row">
  <div class="col-xs-12">
    <footer class="small text-muted">
      <p>
        Find us on
        <a href="https://github.com/wescopeland/kongtrac.kr">GitHub</a>.
      </p>
      <p>
        Heavily influenced by the open-source
        <a href="https://aligulac.com">Aligulac</a> project. Charts by
        <a href="https://highcharts.com">Highcharts</a>.
      </p>
      <p>
        Built by <a href="https://twitch.tv/wescopeland">Wes Copeland</a>. Score
        verifications by
        <a href="https://twitch.tv/xelnia_games">Jeremy Young</a>.
      </p>
    </footer>
  </div>
</div>
