<div class="row">

	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">

		<p>
			Build a list of games you would like to compare.
			You can compare up to five games at once.
			You need a minimum of two games for comparison.
		</p>

		<hr>

		<div class="form-group">
			<input class="form-control" 
			       type="text" 
			       id="gameSearch"
			       placeholder="Find a game"
			       ng-model="compare.inputSearchQuery"
			       autocomplete="off"
			       bs-options="event as event.name for event in compare.gameSearch($viewValue)"
			       data-delay="1000"
			       data-min-length="3"
			       data-template-url="app/compare/gamesearch.popup.template.html"
			       ng-disabled="compare.inputGames.length === 5"
			       bs-typeahead>
		</div>

	</div>

</div>

<div class="row">

	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">

		<ul>
			<li ng-repeat="game in compare.inputGames">
				{{ game.score | number }} &ndash; {{ game.player }}
				 <a ng-click="compare.removeGame(game)" style="cursor: pointer;">[x]</a>
			</li>
		</ul>

		<button ng-disabled="compare.inputGames.length < 2" 
		        class="btn btn-primary pull-right"
		        ng-click="compare.launchGameComparison()">
		    Compare
		</button>

	</div>

</div>