<div class="row">

	<!-- Pace Chart -->
	<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

		<highchart id="gameScoreChart" config="game.scoreChartConfiguration"></highchart>

	</div>

	<div class="clearfix visible-sm visible-xs"></div>

	<!-- Deaths -->
	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

		<div class="table-responsive">

			<table class="table table-striped table-hover">

				<thead>

					<tr>
						<th colspan="2" class="text-center ibox-header">Deaths</th>
					</tr>

					<tr>
						<th>Board</th>
						<th>Points</th>
					</tr>

				</thead>

				<tbody>

					<tr ng-repeat="death in game.gameData.deaths">
						<td>{{ game.getMappedBoardNumber(death.board) }}</td>
						<td>{{ death.points | number }}</td>
					</tr>

					<tr style="border-top-style: double;">
						<td>Sum</td>
						<td>{{ game.gameData.deathPoints | number }}</td>
					</tr>

				</tbody>

			</table>

		</div>

	</div>

</div>

<div class="row">

	<div class="form-group">
		<label for="showScoreMap" 
		       class="pull-right" 
		       style="margin-left: 15px;">
			<input type="checkbox" id="showScoreMap" name="showScoreMap" ng-model="game.toggleScoreMap"> Show Complete Sum Table
		</label>
	</div>

</div>

<div class="row">

	<!-- Individual Board Scores -->
	<div class="col-sm-12 col-xs-12" ng-class="{'col-lg-6': game.toggleScoreMap, 'col-md-6': game.toggleScoreMap}">

		<div class="table-responsive">

			<table class="table table-striped table-hover">

				<thead>

					<tr>
						<th colspan="8" class="text-center ibox-header">Board Points</th>
					</tr>

					<tr>
						<td></td>
						<td>Barrel</td>
						<td>Pie</td>
						<td>Barrel</td>
						<td>Spring</td>
						<td>Barrel</td>
						<td>Rivet</td>
						<td>Level</td>
					</tr>

				</thead>

				<tbody>

					<tr ng-if="game.gameData.scoreMap[0]">
						<td><strong>L1</strong></td>
						<td>{{ game.gameData.boardScores[0] | number }}</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>{{ game.gameData.boardScores[1] | number }}</td>
						<td>{{ game.gameData.levelScores.L1 | number }}</td>
					</tr>
					<tr ng-if="game.gameData.scoreMap[2]">
						<td><strong>L2</strong></td>
						<td>{{ game.gameData.boardScores[2] | number }}</td>
						<td></td>
						<td></td>
						<td>{{ game.gameData.boardScores[3] | number }}</td>
						<td></td>
						<td>{{ game.gameData.boardScores[4] | number }}</td>
						<td>{{ game.gameData.levelScores.L2 | number }}</td>
					</tr>
					<tr ng-if="game.gameData.scoreMap[5]">
						<td><strong>L3</strong></td>
						<td>{{ game.gameData.boardScores[5] | number }}</td>
						<td>{{ game.gameData.boardScores[6] | number }}</td>
						<td></td>
						<td>{{ game.gameData.boardScores[7] | number }}</td>
						<td></td>
						<td>{{ game.gameData.boardScores[8] | number }}</td>
						<td>{{ game.gameData.levelScores.L3 | number }}</td>
					</tr>
					<tr ng-if="game.gameData.scoreMap[9]">
						<td><strong>L4</strong></td>
						<td>{{ game.gameData.boardScores[9] | number }}</td>
						<td>{{ game.gameData.boardScores[10] | number }}</td>
						<td>{{ game.gameData.boardScores[11] | number }}</td>
						<td>{{ game.gameData.boardScores[12] | number }}</td>
						<td></td>
						<td>{{ game.gameData.boardScores[13] | number }}</td>
						<td>{{ game.gameData.levelScores.L4 | number }}</td>
					</tr>
					<tr ng-if="game.gameData.scoreMap[14]" style="border-top-style: double;">
						<td><strong>L5</strong></td>
						<td ng-class="{ 'danger': game.gameData.boardScores[14] === game.gameData.minBarrel, 'success': game.gameData.boardScores[14] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[14] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[15] === game.gameData.minPie, 'success': game.gameData.boardScores[15] === game.gameData.maxPie }">{{ game.gameData.boardScores[15] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[16] === game.gameData.minBarrel, 'success': game.gameData.boardScores[16] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[16] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[17] === game.gameData.minSpring, 'success': game.gameData.boardScores[17] === game.gameData.maxSpring }">{{ game.gameData.boardScores[17] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[18] === game.gameData.minBarrel, 'success': game.gameData.boardScores[18] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[18] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[19] === game.gameData.minRivet, 'success': game.gameData.boardScores[19] === game.gameData.maxRivet }">{{ game.gameData.boardScores[19] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.levelScores.L5 === game.gameData.minLevel, 'success': game.gameData.levelScores.L5 === game.gameData.maxLevel }">{{ game.gameData.levelScores.L5 | number }}</td>
					</tr>
					<tr ng-if="game.gameData.scoreMap[20]">
						<td><strong>L6</strong></td>
						<td ng-class="{ 'danger': game.gameData.boardScores[20] === game.gameData.minBarrel, 'success': game.gameData.boardScores[20] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[20] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[21] === game.gameData.minPie, 'success': game.gameData.boardScores[21] === game.gameData.maxPie }">{{ game.gameData.boardScores[21] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[22] === game.gameData.minBarrel, 'success': game.gameData.boardScores[22] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[22] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[23] === game.gameData.minSpring, 'success': game.gameData.boardScores[23] === game.gameData.maxSpring }">{{ game.gameData.boardScores[23] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[24] === game.gameData.minBarrel, 'success': game.gameData.boardScores[24] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[24] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[25] === game.gameData.minRivet, 'success': game.gameData.boardScores[25] === game.gameData.maxRivet }">{{ game.gameData.boardScores[25] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.levelScores.L6 === game.gameData.minLevel, 'success': game.gameData.levelScores.L6 === game.gameData.maxLevel }">{{ game.gameData.levelScores.L6 | number }}</td>
					</tr>
					<tr ng-if="game.gameData.scoreMap[26]">
						<td><strong>L7</strong></td>
						<td ng-class="{ 'danger': game.gameData.boardScores[26] === game.gameData.minBarrel, 'success': game.gameData.boardScores[26] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[26] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[27] === game.gameData.minPie, 'success': game.gameData.boardScores[27] === game.gameData.maxPie }">{{ game.gameData.boardScores[27] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[28] === game.gameData.minBarrel, 'success': game.gameData.boardScores[28] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[28] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[29] === game.gameData.minSpring, 'success': game.gameData.boardScores[29] === game.gameData.maxSpring }">{{ game.gameData.boardScores[29] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[30] === game.gameData.minBarrel, 'success': game.gameData.boardScores[30] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[30] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[31] === game.gameData.minRivet, 'success': game.gameData.boardScores[31] === game.gameData.maxRivet }">{{ game.gameData.boardScores[31] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.levelScores.L7 === game.gameData.minLevel, 'success': game.gameData.levelScores.L7 === game.gameData.maxLevel }">{{ game.gameData.levelScores.L7 | number }}</td>
					</tr>
					<tr ng-if="game.gameData.scoreMap[32]">
						<td><strong>L8</strong></td>
						<td ng-class="{ 'danger': game.gameData.boardScores[32] === game.gameData.minBarrel, 'success': game.gameData.boardScores[32] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[32] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[33] === game.gameData.minPie, 'success': game.gameData.boardScores[33] === game.gameData.maxPie }">{{ game.gameData.boardScores[33] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[34] === game.gameData.minBarrel, 'success': game.gameData.boardScores[34] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[34] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[35] === game.gameData.minSpring, 'success': game.gameData.boardScores[35] === game.gameData.maxSpring }">{{ game.gameData.boardScores[35] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[36] === game.gameData.minBarrel, 'success': game.gameData.boardScores[36] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[36] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[37] === game.gameData.minRivet, 'success': game.gameData.boardScores[37] === game.gameData.maxRivet }">{{ game.gameData.boardScores[37] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.levelScores.L8 === game.gameData.minLevel, 'success': game.gameData.levelScores.L8 === game.gameData.maxLevel }">{{ game.gameData.levelScores.L8 | number }}</td>
					</tr>
					<tr ng-if="game.gameData.scoreMap[38]">
						<td><strong>L9</strong></td>
						<td ng-class="{ 'danger': game.gameData.boardScores[38] === game.gameData.minBarrel, 'success': game.gameData.boardScores[38] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[38] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[39] === game.gameData.minPie, 'success': game.gameData.boardScores[39] === game.gameData.maxPie }">{{ game.gameData.boardScores[39] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[40] === game.gameData.minBarrel, 'success': game.gameData.boardScores[40] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[40] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[41] === game.gameData.minSpring, 'success': game.gameData.boardScores[41] === game.gameData.maxSpring }">{{ game.gameData.boardScores[41] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[42] === game.gameData.minBarrel, 'success': game.gameData.boardScores[42] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[42] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[43] === game.gameData.minRivet, 'success': game.gameData.boardScores[43] === game.gameData.maxRivet }">{{ game.gameData.boardScores[43] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.levelScores.L9 === game.gameData.minLevel, 'success': game.gameData.levelScores.L9 === game.gameData.maxLevel }">{{ game.gameData.levelScores.L9 | number }}</td>
					</tr>
					<tr ng-if="game.gameData.scoreMap[44]">
						<td><strong>L10</strong></td>
						<td ng-class="{ 'danger': game.gameData.boardScores[44] === game.gameData.minBarrel, 'success': game.gameData.boardScores[44] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[44] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[45] === game.gameData.minPie, 'success': game.gameData.boardScores[45] === game.gameData.maxPie }">{{ game.gameData.boardScores[45] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[46] === game.gameData.minBarrel, 'success': game.gameData.boardScores[46] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[46] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[47] === game.gameData.minSpring, 'success': game.gameData.boardScores[47] === game.gameData.maxSpring }">{{ game.gameData.boardScores[47] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[48] === game.gameData.minBarrel, 'success': game.gameData.boardScores[48] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[48] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[49] === game.gameData.minRivet, 'success': game.gameData.boardScores[49] === game.gameData.maxRivet }">{{ game.gameData.boardScores[49] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.levelScores.L10 === game.gameData.minLevel, 'success': game.gameData.levelScores.L10 === game.gameData.maxLevel }">{{ game.gameData.levelScores.L10 | number }}</td>
					</tr>
					<tr ng-if="game.gameData.scoreMap[50]">
						<td><strong>L11</strong></td>
						<td ng-class="{ 'danger': game.gameData.boardScores[50] === game.gameData.minBarrel, 'success': game.gameData.boardScores[50] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[50] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[51] === game.gameData.minPie, 'success': game.gameData.boardScores[51] === game.gameData.maxPie }">{{ game.gameData.boardScores[51] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[52] === game.gameData.minBarrel, 'success': game.gameData.boardScores[52] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[52] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[53] === game.gameData.minSpring, 'success': game.gameData.boardScores[53] === game.gameData.maxSpring }">{{ game.gameData.boardScores[53] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[54] === game.gameData.minBarrel, 'success': game.gameData.boardScores[54] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[54] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[55] === game.gameData.minRivet, 'success': game.gameData.boardScores[55] === game.gameData.maxRivet }">{{ game.gameData.boardScores[55] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.levelScores.L11 === game.gameData.minLevel, 'success': game.gameData.levelScores.L11 === game.gameData.maxLevel }">{{ game.gameData.levelScores.L11 | number }}</td>
					</tr>
					<tr ng-if="game.gameData.scoreMap[56]">
						<td><strong>L12</strong></td>
						<td ng-class="{ 'danger': game.gameData.boardScores[56] === game.gameData.minBarrel, 'success': game.gameData.boardScores[56] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[56] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[57] === game.gameData.minPie, 'success': game.gameData.boardScores[57] === game.gameData.maxPie }">{{ game.gameData.boardScores[57] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[58] === game.gameData.minBarrel, 'success': game.gameData.boardScores[58] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[58] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[59] === game.gameData.minSpring, 'success': game.gameData.boardScores[59] === game.gameData.maxSpring }">{{ game.gameData.boardScores[59] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[60] === game.gameData.minBarrel, 'success': game.gameData.boardScores[60] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[60] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[61] === game.gameData.minRivet, 'success': game.gameData.boardScores[61] === game.gameData.maxRivet }">{{ game.gameData.boardScores[61] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.levelScores.L12 === game.gameData.minLevel, 'success': game.gameData.levelScores.L12 === game.gameData.maxLevel }">{{ game.gameData.levelScores.L12 | number }}</td>
					</tr>
					<tr ng-if="game.gameData.scoreMap[62]">
						<td><strong>L13</strong></td>
						<td ng-class="{ 'danger': game.gameData.boardScores[62] === game.gameData.minBarrel, 'success': game.gameData.boardScores[62] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[62] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[63] === game.gameData.minPie, 'success': game.gameData.boardScores[63] === game.gameData.maxPie }">{{ game.gameData.boardScores[63] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[64] === game.gameData.minBarrel, 'success': game.gameData.boardScores[64] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[64] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[65] === game.gameData.minSpring, 'success': game.gameData.boardScores[65] === game.gameData.maxSpring }">{{ game.gameData.boardScores[65] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[66] === game.gameData.minBarrel, 'success': game.gameData.boardScores[66] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[66] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[67] === game.gameData.minRivet, 'success': game.gameData.boardScores[67] === game.gameData.maxRivet }">{{ game.gameData.boardScores[67] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.levelScores.L13 === game.gameData.minLevel, 'success': game.gameData.levelScores.L13 === game.gameData.maxLevel }">{{ game.gameData.levelScores.L13 | number }}</td>
					</tr>
					<tr ng-if="game.gameData.scoreMap[68]">
						<td><strong>L14</strong></td>
						<td ng-class="{ 'danger': game.gameData.boardScores[68] === game.gameData.minBarrel, 'success': game.gameData.boardScores[68] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[68] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[69] === game.gameData.minPie, 'success': game.gameData.boardScores[69] === game.gameData.maxPie }">{{ game.gameData.boardScores[69] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[70] === game.gameData.minBarrel, 'success': game.gameData.boardScores[70] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[70] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[71] === game.gameData.minSpring, 'success': game.gameData.boardScores[71] === game.gameData.maxSpring }">{{ game.gameData.boardScores[71] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[72] === game.gameData.minBarrel, 'success': game.gameData.boardScores[72] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[72] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[73] === game.gameData.minRivet, 'success': game.gameData.boardScores[73] === game.gameData.maxRivet }">{{ game.gameData.boardScores[73] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.levelScores.L14 === game.gameData.minLevel, 'success': game.gameData.levelScores.L14 === game.gameData.maxLevel }">{{ game.gameData.levelScores.L14 | number }}</td>
					</tr>
					<tr ng-if="game.gameData.scoreMap[74]">
						<td><strong>L15</strong></td>
						<td ng-class="{ 'danger': game.gameData.boardScores[74] === game.gameData.minBarrel, 'success': game.gameData.boardScores[74] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[74] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[75] === game.gameData.minPie, 'success': game.gameData.boardScores[75] === game.gameData.maxPie }">{{ game.gameData.boardScores[75] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[76] === game.gameData.minBarrel, 'success': game.gameData.boardScores[76] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[76] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[77] === game.gameData.minSpring, 'success': game.gameData.boardScores[77] === game.gameData.maxSpring }">{{ game.gameData.boardScores[77] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[78] === game.gameData.minBarrel, 'success': game.gameData.boardScores[78] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[78] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[79] === game.gameData.minRivet, 'success': game.gameData.boardScores[79] === game.gameData.maxRivet }">{{ game.gameData.boardScores[79] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.levelScores.L15 === game.gameData.minLevel, 'success': game.gameData.levelScores.L15 === game.gameData.maxLevel }">{{ game.gameData.levelScores.L15 | number }}</td>
					</tr>
					<tr ng-if="game.gameData.scoreMap[80]">
						<td><strong>L16</strong></td>
						<td ng-class="{ 'danger': game.gameData.boardScores[80] === game.gameData.minBarrel, 'success': game.gameData.boardScores[80] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[80] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[81] === game.gameData.minPie, 'success': game.gameData.boardScores[81] === game.gameData.maxPie }">{{ game.gameData.boardScores[81] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[82] === game.gameData.minBarrel, 'success': game.gameData.boardScores[82] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[82] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[83] === game.gameData.minSpring, 'success': game.gameData.boardScores[83] === game.gameData.maxSpring }">{{ game.gameData.boardScores[83] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[84] === game.gameData.minBarrel, 'success': game.gameData.boardScores[84] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[84] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[85] === game.gameData.minRivet, 'success': game.gameData.boardScores[85] === game.gameData.maxRivet }">{{ game.gameData.boardScores[85] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.levelScores.L16 === game.gameData.minLevel, 'success': game.gameData.levelScores.L16 === game.gameData.maxLevel }">{{ game.gameData.levelScores.L16 | number }}</td>
					</tr>
					<tr ng-if="game.gameData.scoreMap[86]">
						<td><strong>L17</strong></td>
						<td ng-class="{ 'danger': game.gameData.boardScores[86] === game.gameData.minBarrel, 'success': game.gameData.boardScores[86] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[86] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[87] === game.gameData.minPie, 'success': game.gameData.boardScores[87] === game.gameData.maxPie }">{{ game.gameData.boardScores[87] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[88] === game.gameData.minBarrel, 'success': game.gameData.boardScores[88] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[88] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[89] === game.gameData.minSpring, 'success': game.gameData.boardScores[89] === game.gameData.maxSpring }">{{ game.gameData.boardScores[89] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[90] === game.gameData.minBarrel, 'success': game.gameData.boardScores[90] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[90] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[91] === game.gameData.minRivet, 'success': game.gameData.boardScores[91] === game.gameData.maxRivet }">{{ game.gameData.boardScores[91] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.levelScores.L17 === game.gameData.minLevel, 'success': game.gameData.levelScores.L17 === game.gameData.maxLevel }">{{ game.gameData.levelScores.L17 | number }}</td>
					</tr>
					<tr ng-if="game.gameData.scoreMap[92]">
						<td><strong>L18</strong></td>
						<td ng-class="{ 'danger': game.gameData.boardScores[92] === game.gameData.minBarrel, 'success': game.gameData.boardScores[92] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[92] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[93] === game.gameData.minPie, 'success': game.gameData.boardScores[93] === game.gameData.maxPie }">{{ game.gameData.boardScores[93] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[94] === game.gameData.minBarrel, 'success': game.gameData.boardScores[94] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[94] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[95] === game.gameData.minSpring, 'success': game.gameData.boardScores[95] === game.gameData.maxSpring }">{{ game.gameData.boardScores[95] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[96] === game.gameData.minBarrel, 'success': game.gameData.boardScores[96] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[96] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[97] === game.gameData.minRivet, 'success': game.gameData.boardScores[97] === game.gameData.maxRivet }">{{ game.gameData.boardScores[97] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.levelScores.L18 === game.gameData.minLevel, 'success': game.gameData.levelScores.L18 === game.gameData.maxLevel }">{{ game.gameData.levelScores.L18 | number }}</td>
					</tr>
					<tr ng-if="game.gameData.scoreMap[98]">
						<td><strong>L19</strong></td>
						<td ng-class="{ 'danger': game.gameData.boardScores[98] === game.gameData.minBarrel, 'success': game.gameData.boardScores[98] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[98] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[99] === game.gameData.minPie, 'success': game.gameData.boardScores[99] === game.gameData.maxPie }">{{ game.gameData.boardScores[99] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[100] === game.gameData.minBarrel, 'success': game.gameData.boardScores[100] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[100] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[101] === game.gameData.minSpring, 'success': game.gameData.boardScores[101] === game.gameData.maxSpring }">{{ game.gameData.boardScores[101] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[102] === game.gameData.minBarrel, 'success': game.gameData.boardScores[102] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[102] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[103] === game.gameData.minRivet, 'success': game.gameData.boardScores[103] === game.gameData.maxRivet }">{{ game.gameData.boardScores[103] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.levelScores.L19 === game.gameData.minLevel, 'success': game.gameData.levelScores.L19 === game.gameData.maxLevel }">{{ game.gameData.levelScores.L19 | number }}</td>
					</tr>
					<tr ng-if="game.gameData.scoreMap[104]">
						<td><strong>L20</strong></td>
						<td ng-class="{ 'danger': game.gameData.boardScores[104] === game.gameData.minBarrel, 'success': game.gameData.boardScores[104] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[104] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[105] === game.gameData.minPie, 'success': game.gameData.boardScores[105] === game.gameData.maxPie }">{{ game.gameData.boardScores[105] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[106] === game.gameData.minBarrel, 'success': game.gameData.boardScores[106] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[106] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[107] === game.gameData.minSpring, 'success': game.gameData.boardScores[107] === game.gameData.maxSpring }">{{ game.gameData.boardScores[107] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[108] === game.gameData.minBarrel, 'success': game.gameData.boardScores[108] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[108] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[109] === game.gameData.minRivet, 'success': game.gameData.boardScores[109] === game.gameData.maxRivet }">{{ game.gameData.boardScores[109] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.levelScores.L20 === game.gameData.minLevel, 'success': game.gameData.levelScores.L20 === game.gameData.maxLevel }">{{ game.gameData.levelScores.L20 | number }}</td>
					</tr>
					<tr ng-if="game.gameData.scoreMap[110]">
						<td><strong>L21</strong></td>
						<td ng-class="{ 'danger': game.gameData.boardScores[110] === game.gameData.minBarrel, 'success': game.gameData.boardScores[110] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[110] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[111] === game.gameData.minPie, 'success': game.gameData.boardScores[111] === game.gameData.maxPie }">{{ game.gameData.boardScores[111] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[112] === game.gameData.minBarrel, 'success': game.gameData.boardScores[112] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[112] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[113] === game.gameData.minSpring, 'success': game.gameData.boardScores[113] === game.gameData.maxSpring }">{{ game.gameData.boardScores[113] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[114] === game.gameData.minBarrel, 'success': game.gameData.boardScores[114] === game.gameData.maxBarrel }">{{ game.gameData.boardScores[114] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.boardScores[115] === game.gameData.minRivet, 'success': game.gameData.boardScores[115] === game.gameData.maxRivet }">{{ game.gameData.boardScores[115] | number }}</td>
						<td ng-class="{ 'danger': game.gameData.levelScores.L21 === game.gameData.minLevel, 'success': game.gameData.levelScores.L21 === game.gameData.maxLevel }">{{ game.gameData.levelScores.L21 | number }}</td>
					</tr>

				</tbody>

			</table>

		</div>

	</div>

	<!-- Summary Map Scores -->
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-if="game.toggleScoreMap">

		<div class="table-responsive">

			<table class="table table-striped table-hover">

				<thead>

					<tr>
						<th colspan="7" class="text-center ibox-header">Scores</th>
					</tr>

					<tr>
						<td>Barrel</td>
						<td>Pie</td>
						<td>Barrel</td>
						<td>Spring</td>
						<td>Barrel</td>
						<td>Rivet</td>
					</tr>

				</thead>

				<tbody>

					<tr ng-if="game.gameData.scoreMap[0]">
						<td>{{ game.gameData.scoreMap[0] | number }}</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>{{ game.gameData.scoreMap[1] | number }}</td>
					</tr>
					<tr ng-if="game.gameData.scoreMap[2]">
						<td>{{ game.gameData.scoreMap[2] | number }}</td>
						<td></td>
						<td></td>
						<td>{{ game.gameData.scoreMap[3] | number }}</td>
						<td></td>
						<td>{{ game.gameData.scoreMap[4] | number }}</td>
					</tr>
					<tr ng-if="game.gameData.scoreMap[5]">
						<td>{{ game.gameData.scoreMap[5] | number }}</td>
						<td>{{ game.gameData.scoreMap[6] | number }}</td>
						<td></td>
						<td>{{ game.gameData.scoreMap[7] | number }}</td>
						<td></td>
						<td>{{ game.gameData.scoreMap[8] | number }}</td>
					</tr>
					<tr ng-if="game.gameData.scoreMap[9]">
						<td>{{ game.gameData.scoreMap[9] | number }}</td>
						<td>{{ game.gameData.scoreMap[10] | number }}</td>
						<td>{{ game.gameData.scoreMap[11] | number }}</td>
						<td>{{ game.gameData.scoreMap[12] | number }}</td>
						<td></td>
						<td>{{ game.gameData.scoreMap[13] | number }}</td>
					</tr>
					<tr style="border-top-style: double;" ng-if="game.gameData.scoreMap[14]">
						<td>{{ game.gameData.scoreMap[14] | number }}</td>
						<td>{{ game.gameData.scoreMap[15] | number }}</td>
						<td>{{ game.gameData.scoreMap[16] | number }}</td>
						<td>{{ game.gameData.scoreMap[17] | number }}</td>
						<td>{{ game.gameData.scoreMap[18] | number }}</td>
						<td>{{ game.gameData.scoreMap[19] | number }}</td>
					</tr>
					<tr ng-if="game.gameData.scoreMap[20]">
						<td>{{ game.gameData.scoreMap[20] | number }}</td>
						<td>{{ game.gameData.scoreMap[21] | number }}</td>
						<td>{{ game.gameData.scoreMap[22] | number }}</td>
						<td>{{ game.gameData.scoreMap[23] | number }}</td>
						<td>{{ game.gameData.scoreMap[24] | number }}</td>
						<td>{{ game.gameData.scoreMap[25] | number }}</td>
					</tr>
					<tr ng-if="game.gameData.scoreMap[26]">
						<td>{{ game.gameData.scoreMap[26] | number }}</td>
						<td>{{ game.gameData.scoreMap[27] | number }}</td>
						<td>{{ game.gameData.scoreMap[28] | number }}</td>
						<td>{{ game.gameData.scoreMap[29] | number }}</td>
						<td>{{ game.gameData.scoreMap[30] | number }}</td>
						<td>{{ game.gameData.scoreMap[31] | number }}</td>
					</tr>
					<tr ng-if="game.gameData.scoreMap[32]">
						<td>{{ game.gameData.scoreMap[32] | number }}</td>
						<td>{{ game.gameData.scoreMap[33] | number }}</td>
						<td>{{ game.gameData.scoreMap[34] | number }}</td>
						<td>{{ game.gameData.scoreMap[35] | number }}</td>
						<td>{{ game.gameData.scoreMap[36] | number }}</td>
						<td>{{ game.gameData.scoreMap[37] | number }}</td>
					</tr>
					<tr ng-if="game.gameData.scoreMap[38]">
						<td>{{ game.gameData.scoreMap[38] | number }}</td>
						<td>{{ game.gameData.scoreMap[39] | number }}</td>
						<td>{{ game.gameData.scoreMap[40] | number }}</td>
						<td>{{ game.gameData.scoreMap[41] | number }}</td>
						<td>{{ game.gameData.scoreMap[42] | number }}</td>
						<td>{{ game.gameData.scoreMap[43] | number }}</td>
					</tr>
					<tr ng-if="game.gameData.scoreMap[44]">
						<td>{{ game.gameData.scoreMap[44] | number }}</td>
						<td>{{ game.gameData.scoreMap[45] | number }}</td>
						<td>{{ game.gameData.scoreMap[46] | number }}</td>
						<td>{{ game.gameData.scoreMap[47] | number }}</td>
						<td>{{ game.gameData.scoreMap[48] | number }}</td>
						<td>{{ game.gameData.scoreMap[49] | number }}</td>
					</tr>
					<tr ng-if="game.gameData.scoreMap[50]">
						<td>{{ game.gameData.scoreMap[50] | number }}</td>
						<td>{{ game.gameData.scoreMap[51] | number }}</td>
						<td>{{ game.gameData.scoreMap[52] | number }}</td>
						<td>{{ game.gameData.scoreMap[53] | number }}</td>
						<td>{{ game.gameData.scoreMap[54] | number }}</td>
						<td>{{ game.gameData.scoreMap[55] | number }}</td>
					</tr>
					<tr ng-if="game.gameData.scoreMap[56]">
						<td>{{ game.gameData.scoreMap[56] | number }}</td>
						<td>{{ game.gameData.scoreMap[57] | number }}</td>
						<td>{{ game.gameData.scoreMap[58] | number }}</td>
						<td>{{ game.gameData.scoreMap[59] | number }}</td>
						<td>{{ game.gameData.scoreMap[60] | number }}</td>
						<td>{{ game.gameData.scoreMap[61] | number }}</td>
					</tr>
					<tr ng-if="game.gameData.scoreMap[62]">
						<td>{{ game.gameData.scoreMap[62] | number }}</td>
						<td>{{ game.gameData.scoreMap[63] | number }}</td>
						<td>{{ game.gameData.scoreMap[64] | number }}</td>
						<td>{{ game.gameData.scoreMap[65] | number }}</td>
						<td>{{ game.gameData.scoreMap[66] | number }}</td>
						<td>{{ game.gameData.scoreMap[67] | number }}</td>
					</tr>
					<tr ng-if="game.gameData.scoreMap[68]">
						<td>{{ game.gameData.scoreMap[68] | number }}</td>
						<td>{{ game.gameData.scoreMap[69] | number }}</td>
						<td>{{ game.gameData.scoreMap[70] | number }}</td>
						<td>{{ game.gameData.scoreMap[71] | number }}</td>
						<td>{{ game.gameData.scoreMap[72] | number }}</td>
						<td>{{ game.gameData.scoreMap[73] | number }}</td>
					</tr>
					<tr ng-if="game.gameData.scoreMap[74]">
						<td>{{ game.gameData.scoreMap[74] | number }}</td>
						<td>{{ game.gameData.scoreMap[75] | number }}</td>
						<td>{{ game.gameData.scoreMap[76] | number }}</td>
						<td>{{ game.gameData.scoreMap[77] | number }}</td>
						<td>{{ game.gameData.scoreMap[78] | number }}</td>
						<td>{{ game.gameData.scoreMap[79] | number }}</td>
					</tr>
					<tr ng-if="game.gameData.scoreMap[80]">
						<td>{{ game.gameData.scoreMap[80] | number }}</td>
						<td>{{ game.gameData.scoreMap[81] | number }}</td>
						<td>{{ game.gameData.scoreMap[82] | number }}</td>
						<td>{{ game.gameData.scoreMap[83] | number }}</td>
						<td>{{ game.gameData.scoreMap[84] | number }}</td>
						<td>{{ game.gameData.scoreMap[85] | number }}</td>
					</tr>
					<tr ng-if="game.gameData.scoreMap[86]">
						<td>{{ game.gameData.scoreMap[86] | number }}</td>
						<td>{{ game.gameData.scoreMap[87] | number }}</td>
						<td>{{ game.gameData.scoreMap[88] | number }}</td>
						<td>{{ game.gameData.scoreMap[89] | number }}</td>
						<td>{{ game.gameData.scoreMap[90] | number }}</td>
						<td>{{ game.gameData.scoreMap[91] | number }}</td>
					</tr>
					<tr ng-if="game.gameData.scoreMap[92]">
						<td>{{ game.gameData.scoreMap[92] | number }}</td>
						<td>{{ game.gameData.scoreMap[93] | number }}</td>
						<td>{{ game.gameData.scoreMap[94] | number }}</td>
						<td>{{ game.gameData.scoreMap[95] | number }}</td>
						<td>{{ game.gameData.scoreMap[96] | number }}</td>
						<td>{{ game.gameData.scoreMap[97] | number }}</td>
					</tr>
					<tr ng-if="game.gameData.scoreMap[98]">
						<td>{{ game.gameData.scoreMap[98] | number }}</td>
						<td>{{ game.gameData.scoreMap[99] | number }}</td>
						<td>{{ game.gameData.scoreMap[100] | number }}</td>
						<td>{{ game.gameData.scoreMap[101] | number }}</td>
						<td>{{ game.gameData.scoreMap[102] | number }}</td>
						<td>{{ game.gameData.scoreMap[103] | number }}</td>
					</tr>
					<tr ng-if="game.gameData.scoreMap[104]">
						<td>{{ game.gameData.scoreMap[104] | number }}</td>
						<td>{{ game.gameData.scoreMap[105] | number }}</td>
						<td>{{ game.gameData.scoreMap[106] | number }}</td>
						<td>{{ game.gameData.scoreMap[107] | number }}</td>
						<td>{{ game.gameData.scoreMap[108] | number }}</td>
						<td>{{ game.gameData.scoreMap[109] | number }}</td>
					</tr>
					<tr ng-if="game.gameData.scoreMap[110]">
						<td>{{ game.gameData.scoreMap[110] | number }}</td>
						<td>{{ game.gameData.scoreMap[111] | number }}</td>
						<td>{{ game.gameData.scoreMap[112] | number }}</td>
						<td>{{ game.gameData.scoreMap[113] | number }}</td>
						<td>{{ game.gameData.scoreMap[114] | number }}</td>
						<td>{{ game.gameData.scoreMap[115] | number }}</td>
					</tr>

				</tbody>

			</table>

		</div>

	</div>

</div>
