<ul tabindex="-1" class="typeahead dropdown-menu" ng-show="$isVisible()" role="select" style="width: 30em;">

	<li role="presentation" ng-if="$matches.length > 0">
		<label style="display: block; 
		              text-align: center;
		              width: 100%;
		              background: #f8f8f8;
		              border-style: solid;
		              border-width: 1px 0px 1px 0px;
		              border-color: #999;">
		    Events
		</label>
	</li>

	<li role="presentation" ng-repeat="match in $matches | orderBy:'name'" ng-class="{active: $index == $activeIndex}">
		<a role="menuitem" tabindex="-1" ng-click="compare.addEvent(match.value);" style="cursor: pointer;">
		    {{ match.value.name }}
		</a>
	</li>

</ul>