<div class="row">

	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">

		<p>
			Build a list of events you would like to compare.
			You can compare up to four events at once.
			You need a minimum of two events for comparison.
		</p>

		<hr>

		<div class="form-group">
			<input class="form-control" 
			       type="text" 
			       id="eventSearch"
			       placeholder="Find an event"
			       ng-model="compare.inputSearchQuery"
			       autocomplete="off"
			       bs-options="event as event.name for event in compare.eventSearch($viewValue)"
			       data-delay="1000"
			       data-min-length="3"
			       data-template-url="app/compare/eventsearch.popup.template.html"
			       ng-disabled="compare.inputEvents.length === 4"
			       bs-typeahead>
		</div>

	</div>

</div>

<div class="row">

	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">

		<ul>
			<li ng-repeat="event in compare.inputEvents">
				{{ event.name }}
				 <a ng-click="compare.removeEvent(event)" style="cursor: pointer;">[x]</a>
			</li>
		</ul>

		<button ng-disabled="compare.inputEvents.length < 2" 
		        class="btn btn-primary pull-right"
		        ng-click="compare.launchEventComparison()">
		    Compare
		</button>

	</div>

</div>
