<div class="row">

	<!-- Score Summary Bars -->
	<div ng-if="game.gameData.finalLevelAverage">

		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

			<div class="table-responsive">
				<table class="table">
					<tbody>

						<tr>
							<th class="text-right" style="width: 5em; border-top: none;">Levels</th>
							<td style="border-top: none;">
								<div class="progress progress-striped" style="height: 100%;">
									<div class="progress-bar progress-bar-default"
									     ng-style="{ 'width': game.calculateAverageBarPercentage(game.gameData.levelAverages, game.weights.minLevel, game.weights.maxLevel) }">
										{{ game.gameData.levelAverages[game.inputLevelSlider - 5] | number }}
									</div>
								</div>
							</td>
						</tr>

						<tr>
							<th class="text-right" style="width: 5em; border-top: none;">Barrels</th>
							<td style="border-top: none;">
								<div class="progress progress-striped" style="height: 100%;">
									<div class="progress-bar progress-bar-danger"
									     ng-style="{ 'width': game.calculateAverageBarPercentage(game.gameData.barrelAverages, game.weights.minBarrel, game.weights.maxBarrel) }">
										{{ game.gameData.barrelAverages[game.inputLevelSlider - 5] | number }}
									</div>
								</div>
							</td>
						</tr>

						<tr>
							<th class="text-right" style="width: 5em; border-top: none;">Pies</th>
							<td style="border-top: none;">
								<div class="progress progress-striped" style="height: 100%;">
									<div class="progress-bar progress-bar-warning"
									     ng-style="{ 'width': game.calculateAverageBarPercentage(game.gameData.pieAverages, game.weights.minPie, game.weights.maxPie) }">
										{{ game.gameData.pieAverages[game.inputLevelSlider - 5] | number }}
									</div>
								</div>
							</td>
						</tr>

						<tr>
							<th class="text-right" style="width: 5em; border-top: none;">Springs</th>
							<td style="border-top: none;">
								<div class="progress progress-striped" style="height: 100%;">
									<div class="progress-bar progress-bar-info"
									     ng-style="{ 'width': game.calculateAverageBarPercentage(game.gameData.springAverages, game.weights.minSpring, game.weights.maxSpring) }">
										{{ game.gameData.springAverages[game.inputLevelSlider - 5] | number }}
									</div>
								</div>
							</td>
						</tr>

						<tr>
							<th class="text-right" style="width: 5em; border-top: none;">Rivets</th>
							<td style="border-top: none;">
								<div class="progress progress-striped" style="height: 100%;">
									<div class="progress-bar progress-bar-primary"
									     ng-style="{ 'width': game.calculateAverageBarPercentage(game.gameData.rivetAverages, game.weights.minRivet, game.weights.maxRivet) }">
										{{ game.gameData.rivetAverages[game.inputLevelSlider - 5] | number }}
									</div>
								</div>
							</td>
						</tr>

						<tr>
							<th class="text-right" style="width: 5em; border-top: none;">Moment</th>
							<td style="border-top: none;">
								<div style="height: 100%; padding-right: 80px;">
									<slider ng-model="game.inputLevelSlider" 
									        formatter="game.formatSlider" 
									        min="5" 
									        step="1" 
									        max="game.gameData.mappableLevels.length + 4" 
									        value="testOptions.value">
									</slider>
									<label style="margin-top: -22px; margin-right: -70px;" class="pull-right">
									    L{{ game.inputLevelSlider }}
									</label>
								</div>
							</td>
						</tr>

					</tbody>
				</table>
			</div>

		</div>

		<div class="clearfix visible-sm visible-xs"></div>

	</div>

	<!-- Detail Table -->
	<div ng-class="{ 'col-lg-4': game.gameData.finalLevelAverage,
	                 'col-md-4': game.gameData.finalLevelAverage,
	                 'col-sm-12': game.gameData.finalLevelAverage,
	                 'col-xs-12': game.gameData.finalLevelAverage,
	                 'col-lg-8': !game.gameData.finalLevelAverage,
	                 'col-lg-offset-2': !game.gameData.finalLevelAverage,
	                 'col-md-10': !game.gameData.finalLevelAverage,
	                 'col-md-offset-1': !game.gameData.finalLevelAverage,
	                 'col-sm-12': !game.gameData.finalLevelAverage,
	                 'col-xs-12': !game.gameData.finalLevelAverage }">

		<div class="table-responsive">

			<table class="table table-condensed table-striped table-hover">

				<thead>
					<tr>
						<th colspan="2" class="text-center ibox-header">{{ game.gameData.score | number }}</th>
					</tr>
				</thead>

				<tbody>

					<tr class="small">
						<td class="text-right ibox-left" style="width: 40%">Player</td>
						<td>{{ game.gameData.player }}</td>
					</tr>
					<tr class="small" ng-if="game.gameData.date">
						<td class="text-right ibox-left">Date</td>
						<td ng-if="!game.gameData.concealedDay && !game.gameData.concealedMonth">{{ game.gameData.date | amDateFormat: 'MM/DD/YYYY' }}</td>
						<td ng-if="game.gameData.concealedDay && !game.gameData.concealedMonth">{{ game.gameData.date | amDateFormat: 'MMMM YYYY' }}</td>
						<td ng-if="game.gameData.concealedDay && game.gameData.concealedMonth">{{ game.gameData.date | amDateFormat: 'YYYY' }}</td>
					</tr>
					<tr class="small">
						<td class="text-right ibox-left">Platform</td>
						<td>
							<i class="fa fa-lg fa-keyboard-o" ng-if="game.gameData.platform === 'MAME'"></i>
							<i class="fa fa-lg fa-map-pin" ng-if="game.gameData.platform === 'Arcade'"></i>
							<i class="fa fa-lg fa-gg" ng-if="game.gameData.platform !== 'Arcade' && game.gameData.platform !== 'MAME'"></i>
							{{ game.gameData.platform }}
						</td>
					</tr>
					<tr class="small" ng-if="game.gameData.deaths[3]">
						<td class="text-right ibox-left">Final Board</td>
						<td>
							L{{ game.getMappedBoardNumber(game.gameData.deaths[3].board) }}
							<span ng-if="game.getMappedBoardNumber(game.gameData.deaths[3].board) === '22-1'"> (Kill Screen)</span>
						</td>
					</tr>
					<tr class="small" ng-if="game.gameData.startScore">
						<td class="text-right ibox-left">Start</td>
						<td>
							{{ game.gameData.startScore | number }}
						</td>
					</tr>
					<tr class="small" ng-if="game.gameData.deathPoints">
						<td class="text-right ibox-left">Death Points</td>
						<td>
							{{ game.gameData.deathPoints | number }}
						</td>
					</tr>
					<tr class="small" ng-if="game.gameData.levelAverage">
						<td class="text-right ibox-left">Level Average</td>
						<td>
							{{ game.gameData.levelAverage | number }}
						</td>
					</tr>
					<tr class="small" ng-if="game.gameData.maxPace.pace">
						<td class="text-right ibox-left">Max Pace</td>
						<td>
							{{ game.gameData.maxPace.pace | number }} (L{{ game.getMappedBoardNumber(game.gameData.maxPace.boardNumber) }})
						</td>
					</tr>
					<tr class="small" ng-if="game.gameData.minPace.pace">
						<td class="text-right ibox-left">Min Pace</td>
						<td>
							{{ game.gameData.minPace.pace | number }} (L{{ game.getMappedBoardNumber(game.gameData.minPace.boardNumber) }})
						</td>
					</tr>
					<tr class="small" ng-if="game.gameData.longestLife">
						<td class="text-right ibox-left">Longest Life</td>
						<td>
							{{ game.gameData.longestLife.boardCount | number }} Boards ({{ game.gameData.longestLife.levelCount | number }} Levels)
						</td>
					</tr>
					<tr class="small" ng-if="game.gameData.averageLifeBoardCount">
						<td class="text-right ibox-left">Average Life</td>
						<td>
							{{ game.gameData.averageLifeBoardCount | number }} Boards ({{game.gameData.averageLifeBoardCount / 6 | number:0}} Levels)
						</td>
					</tr>


				</tbody>

			</table>

		</div>

	</div>

</div>

<div class="row">

	<!-- Pace Chart -->
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="game.gameData.finalLevelAverage">
		<highchart id="gamePaceChart" config="game.paceChartConfiguration"></highchart>
	</div>

</div>