<div class="row">
	<h2>
		{{ player.playerData.name }}

		<small class="pull-right" style="margin-top: 10px;">
		    <a ng-click="player.isEditing = !player.isEditing;" style="cursor: pointer;">
		        <span ng-if="!player.isEditing">Edit</span>
		        <span ng-if="player.isEditing">Cancel</span>
		    </a>
		</small>
	</h2>
</div>

<div class="row" ng-if="player.isEditing">

	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
		<h3>Required Fields</h3>
	</div>

	<form>

		<div class="form-group col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">

			<label class="control-label">Initials</label>
			<input class="form-control" placeholder="Initials" maxlength="3" ng-model="player.playerEditData.initials">

		</div>

		<div class="form-group col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
			<button class="btn btn-primary pull-right" ng-click="player.handleEditCommit()">
				Commit
			</button>
		</div>

	</form>

</div>

<div ng-if="!player.isEditing">

	<div class="row">

		<!-- PB Progression History -->
		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
			<highchart id="playerPbChart" config="player.pbChartConfiguration"></highchart>
		</div>

		<div class="clearfix visible-sm visible-xs"></div>

		<!-- Detail Table -->
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

			<div class="table-responsive">

				<table class="table table-condensed table-striped table-hover">

					<thead>
						<tr>
							<th colspan="2" class="text-center ibox-header">Player Details</th>
						</tr>
					</thead>

					<tbody>

						<tr class="small" ng-if="player.playerData.initials">
							<td class="text-right ibox-left" style="width: 40%;">Initials</td>
							<td>{{ player.playerData.initials }}</td>
						</tr>

						<tr class="small" ng-if="player.playerData.arcadeBest">
							<td class="text-right ibox-left">Arcade PB</td>
							<td>{{ player.playerData.arcadeBest | number }}</td>
						</tr>

						<tr class="small" ng-if="player.playerData.mameBest">
							<td class="text-right ibox-left">MAME PB</td>
							<td>{{ player.playerData.mameBest | number }}</td>
						</tr>

						<tr class="small" ng-if="player.playerData.firstKSDate">
							<td class="text-right ibox-left">First KS Date</td>
							<td>{{ player.playerData.firstKSDate | date }}</td>
						</tr>

						<tr class="small" ng-if="player.playerData.firstMillionDate">
							<td class="text-right ibox-left">First Million Date</td>
							<td>{{ player.playerData.firstMillionDate | date }}</td>
						</tr>

						<tr class="small" ng-if="player.playerData.prizeWinnings">
							<td class="text-right ibox-left">Prize Winnings</td>
							<td></td>
						</tr>

					</tbody>

				</table>

			</div>

		</div>

	</div>

	<h3 style="display: inline;">Known games</h3>
	<label for="onlyShowComplete" class="pull-right">
		<input type="checkbox" id="onlyShowComplete" name="onlyShowComplete" ng-model="player.onlyShowComplete"> Only show games with complete data
	</label>
	<div class="row">

		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

			<div class="table-responsive">

				<table st-table="player.playerData.gamesData" class="table table-hover">

					<thead>
						<tr class="eventheader">
							<th st-sort="date">Date</th>
							<th st-sort="score">Score</th>
							<th st-sort="platform">Platform</th>
							<th st-sort="finalBoard">Final Board</th>
							<th class=""></th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="game in player.playerData.gamesData | orderBy:'-date'" ng-hide="player.onlyShowComplete && !game.hasCompleteData">

							<td ng-if="!game.concealedDay && !game.concealedMonth">{{ game.date | amDateFormat: 'MM/DD/YYYY' }}</td>
							<td ng-if="game.concealedDay && !game.concealedMonth">{{ game.date | amDateFormat: 'MMMM YYYY' }}</td>
							<td ng-if="game.concealedDay && game.concealedMonth">{{ game.date | amDateFormat: 'YYYY' }}</td>

							<!--
							<td ng-if="!game.hasCompleteData">{{ game.score | number }}</td>
							<td ng-if="game.hasCompleteData">
								<a ng-href="{{ '#/game/' + game.$id + '/summary' }}">{{ game.score | number }}</a>
							</td>
							-->

							<td>
								<a ng-href="{{ '#/game/' + game.$id + '/summary' }}">{{ game.score | number }}</a>
							</td>

							<td>{{ game.platform }}</td>
							<td>{{ game.finalBoard }}</td>

						</tr>
					</tbody>

				</table>

			</div>

		</div>

	</div>

	<div ng-if="player.playerData.hasEvents">

		<hr>

		<h3 style="display: inline;">Event performance</h3>
		<div class="row">

			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

				<div class="table-responsive">

					<table st-table="player.playerData.gamesData" class="table table-hover">

						<thead>
							<tr class="eventheader">
								<th st-sort="platform">Dates</th>
								<th st-sort="date">Event</th>
								<th st-sort="score">Position</th>
								<th st-sort="finalBoard">Score</th>
								<th class=""></th>
							</tr>
						</thead>

						<tbody>
							<tr ng-repeat="game in player.playerGameTableData | orderBy:'-realEventEndDate'" ng-hide="!game.eventName">

								<td>{{ game.eventStartDate | amDateFormat: 'MM/DD/YYYY' }} &ndash; {{ game.eventEndDate | amDateFormat: 'MM/DD/YYYY' }}</td>
								<td><a ng-href="{{ '#/event/' + game.eventId }}">{{ game.eventName }}</a></td>
								<td>{{ game.eventPosition }}</td>

								<!--
								<td ng-if="!game.hasCompleteData">{{ game.score | number }}</td>
								<td ng-if="game.hasCompleteData">
									<a ng-href="{{ '#/game/' + game.$id + '/summary' }}">{{ game.score | number }}</a>
								</td>
								-->

								<td>
									<a ng-href="{{ '#/game/' + game.$id + '/summary' }}">{{ game.score | number }}</a>
								</td>

							</tr>
						</tbody>

					</table>

				</div>

			</div>

		</div>

	</div>

</div>